<div class="border-t shadow-md border-redText">
	<div class="p-2 flex justify-between items-center w-50 m-auto">
		<div>
			<a href="https://www.youtube.com/watch?v=DLzxrzFCyOs">Clicca qui per prenotare!</a>
			<p>+39 392 321 52 52</p>
			<p>&copy; Tutti i diritti riservati - Pizzeria Vesuvio</p>
		</div>
		<img src="https://www.pizzeriavesuvio.it/wp-content/uploads/2021/09/Pizzeria-Vesuvio-logo.png" style="height: 92px;" />
		<ul>
			<li class="text-greyAccent"><span class="text-black">settimana:</span> 12:00 - 15:30 / 18:00 - 22:30</li>
			<li class="text-greyAccent"><span class="text-black">weekend:</span> 12:00 - 15:30 / 18:00 - 23:30</li>
		</ul>
	</div>
</div>