<video src="./assets/pizzabgcropped.mp4" muted autoplay loop></video>
<div class="my-20">
	<div class="flex justify-center mb-8">
		<h1 class="text-greyText cookie text-6xl">Pizzeria i <span class="cookie text-redText">Vesuviani</span></h1>
	</div>
	<div class="flex justify-center gap-10">
		<img src="https://www.apizza.it/wp-content/uploads/2018/01/pizza-margherita-apizza.jpg" class="rounded-3xl shadow-xl" style="width: 24rem;"/>
		<div class="py-8">
			<img src="https://www.pizzeriavesuvio.it/wp-content/uploads/2019/03/rating.png" class="mb-2"/>
			<p class="font-semibold text-4xl underline decoration-redText decoration-4">PIZZERIA</p>
			<p class="text-lg text-greyAccent" style="width: 24rem">La pizzeria Vesuvio di Portici offre una pizza fragrante e leggera, seguendo i dettami della vera pizza napoletana. Impasto morbido, ingredienti di prima scelta e prodotti DOP di origine campana.<br /> La ricerca costante della qualità è la caratteristica principale della Pizzeria. </p>
		</div>
	</div>
</div>